version: "3.9"

services:
  turtlebot:
    image: turtlebot_docker-tb             
    container_name: turtlebot2
    network_mode: host                      
    privileged: true                        
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"        
    environment:
      - DISPLAY=${DISPLAY}                  
      - QT_X11_NO_MITSHM=1
      - LIBGL_ALWAYS_INDIRECT=0
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix       
      - ./ros2host_ws:/ros2_ws/ros2host_ws  
      - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket
    working_dir: /ros2_ws
    entrypoint: ["/bin/bash"]             
    stdin_open: true
    tty: true

