version: "3.9"

services:
  turtlebot:
    image: turtlebot_docker-tb              # usa la nueva imagen con Ignition
    container_name: turtlebot2
    network_mode: host                      # usa la red del host (para ROS2)
    privileged: true                        # acceso completo a dispositivos
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"         # puerto Kobuki (si está conectado)
    environment:
      - DISPLAY=${DISPLAY}                  # permite mostrar gráficos (X11)
      - QT_X11_NO_MITSHM=1
      - LIBGL_ALWAYS_INDIRECT=0
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix       # socket X11 para interfaz gráfica
      - ./ros2host_ws:/ros2_ws/ros2host_ws  # carpeta compartida host <-> contenedor
      - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket
    working_dir: /ros2_ws
    entrypoint: ["/bin/bash"]               # fuerza bash (evita exec format error)
    stdin_open: true
    tty: true

